.navbar{

position:fixed;

top:0;

left:0;

width:100%;

padding:18px 8%;

display:flex;

justify-content:space-between;

align-items:center;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border-bottom:1px solid rgba(255,255,255,.1);

z-index:1000;

}

.logo{

font-size:28px;

font-weight:700;

color:white;

}

.logo span{

color:#00F5FF;

}

.nav-links{

display:flex;

gap:35px;

list-style:none;

}

.nav-links a{

text-decoration:none;

color:white;

font-size:17px;

transition:.3s;

}

.nav-links a:hover{

color:#00F5FF;

}

.social{

display:flex;

gap:18px;

}

.social a{

color:white;

font-size:22px;

transition:.3s;

}

.social a:hover{

transform:translateY(-5px);

color:#00F5FF;

}