/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/* Reset */


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:"Poppins",sans-serif;
  background:#050816;
  color:#ffffff;
  overflow-x:hidden;
  line-height:1.6;
}

/* Images */

img{
  max-width:100%;
  display:block;
}

/* Links */

a{
  text-decoration:none;
  color:inherit;
}

/* Buttons */

button{
  font-family:inherit;
  cursor:pointer;
  border:none;
  outline:none;
}

/* Lists */

ul,
ol{
  list-style:none;
}

/* Inputs */

input,
textarea{
  font-family:inherit;
  outline:none;
}

/* Scrollbar */

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#050816;
}

::-webkit-scrollbar-thumb{
  background:#00e5ff;
  border-radius:20px;
}

::-webkit-scrollbar-thumb:hover{
  background:#00b8cc;
}

/* Selection */

::selection{
  background:#00e5ff;
  color:#000;
}
*{
    cursor:none;
}